body {
    background-color: #1a5b35;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.bottom{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.left{
    position: absolute;
    left: 0px;
    top: 10px;
}

.music{
    position: absolute;
    left: 5px;
    bottom: 70px;
}

.right{
    position: absolute;
    right: 0px;
    top: 0px;
}

.wrapper {
    width: 662px;
}

.content h1 {
    margin: 0;
    font-family: 'Comforter', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 115px;
    background: linear-gradient(180deg, #CEB076 0%, #D6BD84 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.content p{
font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}

.sign{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sign img{
    position: absolute;
    padding-left: 280px;
}

.sign p{
font-family: 'Poiret One', cursive;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}

.logo{
    margin-top: 40px;
}
